<!-- prettier-ignore -->
{% extends "base.html" %}
{% block extra_title %}
- Premium Quality Cake Makers
{%endblock %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<section>
    <main>
        <div>
            <div class="position-relative p-3 p-md-5 text-center whatDiv">
                <div class="col-md-10 px-4 mx-auto py-5 boxFade whatBox">
                    <h1 class="display-4 font-weight-normal text-white">What is The Pyramid: Ultimate?</h1>
                    <p class="lead font-weight-normal text-white">The Pyramid: Ultimate is an indie and roguelike
                        roulette
                        game.
                        Draft
                        challenge cards and score points in over 200+ of your favorite indie and roguelike games.
                        Featuring
                        96
                        unique and custom decks, over 2000 custom cards and more.</p>
                </div>
                <div class="product-device box-shadow d-none d-md-block"></div>
                <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
            </div>
        </div>
    </main>
</section>
<section>
    <div>
        <div class="position-relative p-3  text-center whatDiv">
            <div class="col-md-10 px-5 mx-auto py-5 boxFade howBox">
                <h1 class="display-4 font-weight-normal text-white">How do you play?</h1>
                <p class="lead font-weight-normal text-white">The video on how to play The Pyramid: Ultimate can be
                    found
                    below.
                </p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/HVfW_4Hob4E" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div>
        <div class="position-relative p-3 mb-3 text-center whatDiv">
            <div class="col-md-10 px-5 mx-auto py-5 boxFade howBox">
                <h1 class="display-4 font-weight-normal text-white">What games are represented as decks?</h1>
                <p class="lead font-weight-normal text-white">While we don't currently have a list of all the games that
                    are a part of both ? decks, the list of games available as decks can be found <a
                        href="https://infinitebacklog.nl/users/teqielemon/lists/27">here.</a>
                </p>
            </div>

        </div>
    </div>
</section>
{% endblock %}
<!-- prettier-ignore -->