<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav navbar-dark w-auto mx-auto">
    <li class="nav-item d-block d-md-none">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
        Home
      </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
        data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        role="button">Pyramid Games</a>
      <div class="dropdown-menu border-0 mt-2" aria-labelledby="all-products-link">
        <a href="{% url 'games' %}?sort=name&direction=asc" class="dropdown-item">All Games</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Action" class="dropdown-item">Action</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Adventure" class="dropdown-item">Adventure</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Autobattler" class="dropdown-item">Autobattler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Arena%20Battler" class="dropdown-item">Arena
          Battler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dating%20Sim" class="dropdown-item">Dating Sim</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dice%20Games" class="dropdown-item">Dice Games</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Deck%20Builder"
          class="dropdown-item">Deckbuilder</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Platformer" class="dropdown-item">Platformer</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dungeon%20Crawler" class="dropdown-item">Dungeon
          Crawler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Puzzle" class="dropdown-item">Puzzle</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Shooters" class="dropdown-item">Shooters</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Strategy" class="dropdown-item">Strategy</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Tactics" class="dropdown-item">Tactics</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Web%20Based" class="dropdown-item">Web Based</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="run-link">
        My Runs
      </a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="create-link">
        Create a Run
      </a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'generate' %}" id="generate-link">
        Generate a Run
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="whatis-link">
        What is The Pyramid: Ultimate?
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
        data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        role="button">Pyramid Games</a>
      <div class="dropdown-menu border-0 " aria-labelledby="all-products-link">
        <a href="{% url 'games' %}?sort=name&direction=asc" class="dropdown-item">All Games</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Action" class="dropdown-item">Action</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Adventure" class="dropdown-item">Adventure</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Autobattler" class="dropdown-item">Autobattler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Arena%20Battler" class="dropdown-item">Arena
          Battler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dating%20Sim" class="dropdown-item">Dating Sim</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dice%20Games" class="dropdown-item">Dice Games</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Deck%20Builder"
          class="dropdown-item">Deckbuilder</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Platformer" class="dropdown-item">Platformer</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Dungeon%20Crawler" class="dropdown-item">Dungeon
          Crawler</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Puzzle" class="dropdown-item">Puzzle</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Shooters" class="dropdown-item">Shooters</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Strategy" class="dropdown-item">Strategy</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Tactics" class="dropdown-item">Tactics</a>
        <a href="{% url 'games' %}?sort=name&direction=asc&category=Web%20Based" class="dropdown-item">Web Based</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>